<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebHashcatAdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebHashcatAdminPanel.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9ca92e5d13.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header-container">
        <header id="header" class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark visual-style-black">
                <div class="container-fluid">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { Area = "" })">WebHashсat</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Login", new { Area = "Identity" })" class="nav-link visual-a-blue">Вхід</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Home", new { Area = "AdminPanel" })" class="nav-link visual-a-blue">AdminPanel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </section>
    <section id="content">
        <div class="container" id="content-container">
            @RenderBody()
        </div>
    </section>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
