@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/authentication.css" asp-append-version="true" />
</head>

@*<!-- Кнопки -->
    <div class="container mt-5">
        <button class="btn btn-success" id="successButton">Показати успішне вікно</button>
        <button class="btn btn-danger" id="errorButton">Показати вікно з помилкою</button>
    </div>*@
@*Модальні вікна*@
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-success text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успіх</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ваш запит був успішно виконаний.
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-danger text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Помилка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ми намагаємося відновити кожне завдання, яке ви нам надсилаєте, безкоштовно.Якщо пароль успішно відновлений і слабкий, ми віддаємо його вам безкоштовно, без реєстрації, без обмежень. Більше інформації про наші ціни тут.
            </div>
        </div>
    </div>
</div>
@*<script>
    // Обробники для кнопок
    $(document).ready(function () {
        $("#successButton").click(function () {
            $("#successModal").modal("show");
        });

        $("#errorButton").click(function () {
            $("#errorModal").modal("show");
        });
    });
</script>*@
<div class="d-flex justify-content-center align-items-center">
    <article class="container_authorization">
        <div class="block mx-auto">
            <selection class="block_item block-item">
                <h2 class="block-item_title">У вас є аккаунт?</h2>
                <button class="btn btn-primary def-btn" id="signin-btn">Авторизація</button>
            </selection>
            <selection class="block_item block-item">
                <h2 class="block-item_title">У вас немає аккаунту?</h2>
                <button class="btn btn-primary def-btn" id="signup-btn">Реєстрація</button>
            </selection>
        </div>
        <div id="form-box">
            <div class="form form_signin form_restore" id="restoreForm">
                <h3 class="form_title">Напис</h3>
                <p>
                    <input asp-for="Email" id="resetEmail" type="email" class="form_input" placeholder="Пошта" />
                    <span asp-validation-for="Email" class="text-danger" id="message"></span>
                </p>
                <p>
                    <input type="button" id="forgotPasswordBtn" class="btn btn-primary def-btn" value="Відправити" />
                </p>
                <p>
                    <a id="switchToLogin" href="#" style="text-decoration: none;">Повернутися до авторизації</a>
                </p>
            </div>

            <div class="form form_signin" id="loginForm">
                <h3 class="form_title">Вхід</h3>
                <p>
                    <input asp-for="Email" id="email" type="email" class="form_input" placeholder="Пошта" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </p>
                <p>
                    <input asp-for="Password" id="password" type="password" class="form_input" placeholder="Пароль" />
                    <span asp-validation-for="Email" class="text-danger" id="loginErrorMessage"></span>
                </p>
                <p>
                    <label>
                        <input type="checkbox" id="isRememberMe"/>
                        <span class="text" style="color: #FFF;">Запам'ятати мене</span>
                    </label>
                </p>
                <p>
                    <div class="col-md-1 mt-3 mt-md-0">
                        <div class="d-grid">
                            <input class="btn btn-primary def-btn" id="loginBtn" type="button" value="Увійти" />
                        </div>
                    </div>
                    @*<input type="button" id="loginBtn" class="form_btn" value="Увійти"/>*@
                </p>
                <p>
                    <a id="switchToRestore" href="#" style="text-decoration: none;">Відновити пароль</a>
                </p>
                @*@Html.AntiForgeryToken()*@
            </div>

            <div id="registerForm" class="form form_signup">
                <h3 class="form_title">Реєстрація</h3>
                <p>
                    <input asp-for="Email" type="email" id="registerEmail" class="form_input" placeholder="Пошта" required />
                    <span asp-validation-for="Email" id="registerEmailValidationError" class="text-danger"></span>
                </p>
                <p>
                    <input asp-for="Password" type="password" id="registerPassword" class="form_input" placeholder="Пароль" required />
                    <span asp-validation-for="Password" id="registerPasswordValidationError" class="text-danger"></span>
                </p>
                <p>
                    <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form_input" placeholder="Підтвердіть пароль" required />
                    <span asp-validation-for="ConfirmPassword" id="confirmPasswordErrorMessage" class="text-danger"></span>
                </p>
                <p>
                    <input type="button" id="registerBtn" class="btn btn-primary def-btn" value="Зареєструватись" />
                </p>
            </div>
        </div>
    </article>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Value" class="form-control" autocomplete="current-Value" aria-required="true" placeholder="Value" />
                    <label asp-for="Input.Value" class="form-label">Value</label>
                    <span asp-validation-for="Input.Value" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-Value" asp-page="./ForgotValue">Forgot your Value?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

<script src="~/js/login.js"></script>